<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Xpycode/QuickMotion/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2Rye/j7GuIDZ+HnUwiUSDwMQDkMc1itb3fVD9x66gP4=</string>
</dict>
</plist>
